body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container {
    width: 600px; 
    display: inline-block;
    margin: 0 calc((100% - 600px) / 2);
}

body > * {
    margin-bottom: 60px;
}
body > *:nth-last-child(2) {
    margin-bottom: 0;
}

/* header*/


.logo {
    float: left;
}

.main-nav {
    float: right;
}

.main-nav .link {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}
nav > a:first-child {
    margin: 0;
}
nav > a:hover {
    text-decoration: underline;
    color: #649;
}


/* main style */


/* footer style*/


.socials {
    float: left;
}

.socials a {

}

.copyright {
    float: right;
    margin: 0;
}

