body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header,
main,
footer {
    width: 1000px; 
    display: inline-block;
    margin: 0 calc((100% - 1000px) / 2);
}

body > * {
    margin-bottom: 60px;
}
body > *:nth-last-child(2) {
    margin-bottom: 0;
}

/* header*/


img {
    float: left;
}

nav {
    float: right;
}

nav > a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}
nav > a:first-child {
    margin: 0;
}
nav > a:hover {
    text-decoration: underline;
    color: #649;
}


/* main style */
main {
 
}

/* footer style*/


div > a {
    float: left;
}

p {
    float: right;
    margin: 0;
}

